<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
       <category label="Log-ins">
		<setting label="HQZone Account" type="lsep" />
		<setting id="hqusername" type="text" label="HQZone Username" default="" visible="true"/>
		<setting id="hqpassword" type="text"label="HQZone Password" default="" visible="true" option="hidden" />
   </category>
</settings>